/*
1. For all : checked
2. header :checked
3. card :checked
5. form & input :checked
6. collections
7. icons
8. modal
9. li
10. picker
11. button
12. badge
13. ide
*/

/* 1. For all*/
*{ font-family: "Segoe UI";  }
.bold{font-family: "Segoe UI Semibold"}
.inline{display: inline;
}


/* 2. header*/
#logo{margin: 7px 0; width: auto; height: 50px;}


/* 3. card*/
#formcard{margin: 5rem auto 0 auto}

/* 5. form*/
.input-field input[type=text]:focus + label {
    color: #c3614d;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #c3614d;
    box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=text].valid {
    border-bottom: 1px solid #c3614d;
    box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=email]:focus + label {
    color: #c3614d;
}

.input-field input[type=email]:focus {
    border-bottom: 1px solid #c3614d;
    box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=email].valid {
    border-bottom: 1px solid #c3614d;
    box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=password]:focus + label {
    color: #c3614d;
}
/* label underline focus color */
.input-field input[type=password]:focus {
    border-bottom: 1px solid #c3614d;
    box-shadow: 0 1px 0 0 #000;
}

.input-field textarea.materialize-textarea:focus:not([readonly]){border-bottom:1px solid brown;box-shadow:0 1px 0 0 brown}

/* valid color */
.input-field input[type=password].valid {
    border-bottom: 1px solid #c3614d;
    box-shadow: 0 1px 0 0 #000;
}

#fromDate{
    height: 1rem;
    width: 10rem;
    font-size: 15px;
}

#toDate{
    height: 1rem;
    width: 10rem;
    font-size: 15px;
}

/*6. Collections*/
#new-recruit{
    font-size: x-large;
}
.collection .collection-item {
    color: black;
    line-height: 4rem;
    font-size: large;
}

.collection a.collection-item{
    color: black;
}

/*7. icons*/
#back-icon{
    padding-left: 0;
    padding-right: 0;
}
.material-icons{
    padding-left: 1rem;
    padding-right: 30px;
}

/*8. modals*/
#modal-calender{
    width: 35rem;

}

#modal-confirm{
    padding-bottom: 2rem;
}

/*9. li*/
#li-setperiods{
    list-style: none;
}

/* 10. picker */
.picker__weekday-display{
    background-color: #e65100;
}
.picker__date-display {
    background-color: #ef6c00;
}
.picker__close, .picker__today{
    color: #ef6c00;
}
.picker__day.picker__day--today{
    color:#ef6c00
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
    background-color: #ef6c00;
}

/* 11. button */

#btn-datesave{
    width: 4rem;
    height: 2rem;
    font-size: 1rem;
    padding: 0 0.8rem;
}

.btn-addtocart{
    width: 7rem;
    height: 2rem;
    font-size: 0.7rem;
    padding: 0 0;
    margin-top: 0.4rem;
}

#btn-cartsave{
    position: absolute;
    left: 33%;
    bottom: 0.5rem;
}

.btn-detail{
    width: 4rem;
    height: 2rem;
    font-size: 0.7rem;
    padding: 0 0;
    margin-top: 0rem;
}

#btn-checkEmail{
    width: 7rem;
    padding: 0 0;
    }

/*12. badge */
#badge-applicants{
    width: 3rem;
    position: static;
}
#badge-problems{
    width: 3rem;
    position: static;
}

/* 13. ide */
* {
    margin: 0;
    padding: 0;
}
.btn-workboard {
    display: inline-block;
}
.selectable > * {
    display: none;
}

#body-wrapper{ height: 100vh; }
#navbar{height: 100%; }
#workboard{height: 70%; }
#terminal{ height: 30%; }